# Explore reasons for delay

In [4]:
from ATENA_PRO.src.ATENA_A_EDA.benchmark.atena.simulation.dataset import DatasetMeta, SchemaName, \
    Dataset, FlightsDatasetName

In [5]:
dataset_meta = DatasetMeta(SchemaName.FLIGHTS, FlightsDatasetName.DATASET2)
dataset = Dataset(dataset_meta)
dataset_df = dataset.load_data()


dataset_df.head()

,flight_id,airline,origin_airport,destination_airport,flight_number,delay_reason,departure_delay,scheduled_trip_time,scheduled_departure,scheduled_arrival,day_of_week,day_of_year
65,65,NK,BOS,MYR,103,None,ON_TIME,MID_FLIGHT,NIGHT,MORNING,4,1
71,71,AA,BOS,MIA,2454,None,ON_TIME,LONG_FLIGHT,NIGHT,MORNING,4,1
104,104,B6,BOS,BWI,727,None,ON_TIME,MID_FLIGHT,NIGHT,MORNING,4,1
108,108,DL,BOS,DTW,2079,None,ON_TIME,MID_FLIGHT,NIGHT,MORNING,4,1
121,121,B6,BOS,PBI,721,None,ON_TIME,LONG_FLIGHT,NIGHT,MORNING,4,1

### Session Tree:

### Queries

In [2]:
# Group the data by delay reason and count the number of occurrences
delay_reason_counts = dataset_df.groupby('delay_reason')['flight_id'].count()
print(delay_reason_counts)

delay_reason
AIRLINE           449
AIR_SYSTEM        908
LATE_AIRCRAFT     485
None             6233
SECURITY            1
WEATHER            96
Name: flight_id, dtype: int64