# Properties of summer-months flights
NOTE - this notebook excuted on slightly different flights dataset (not binned, though the original one,  - https://www.kaggle.com/datasets/usdot/flight-delays)

In [13]:
from ATENA_PRO.src.ATENA_A_EDA.benchmark.atena.simulation.dataset import DatasetMeta, SchemaName, \
    Dataset, FlightsDatasetName

In [14]:
dataset_meta = DatasetMeta(SchemaName.FLIGHTS, FlightsDatasetName.DATASET5) # in this notebook the dataset was replaced to the original flights dataset (not binned)
dataset = Dataset(dataset_meta)
dataset_df = dataset.load_data()

dataset_df.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
YEAR,,,,,,,,,,,,,,,,,,,,,
2015,1,1,4,NK,103,N616NK,BOS,MYR,510,506.0,...,720.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2015,1,1,4,AA,2454,N3ETAA,BOS,MIA,515,510.0,...,845.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2015,1,1,4,B6,727,N292JB,BOS,BWI,540,536.0,...,700.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2015,1,1,4,DL,2079,N389DA,BOS,DTW,540,537.0,...,742.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2015,1,1,4,B6,721,N623JB,BOS,PBI,545,551.0,...,901.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

### Queries

In [15]:
# Filter for flights in the summer (June, July, August)
summer_flights = dataset_df[dataset_df['MONTH'].isin([6, 7, 8])]

In [16]:
# Calculate average departure delay for each airline
avg_delay_by_airline = summer_flights.groupby('AIRLINE')['DEPARTURE_DELAY'].mean()
print("Average departure delay by airline in the summer:")
print(avg_delay_by_airline)

Average departure delay by airline in the summer:
Series([], Name: DEPARTURE_DELAY, dtype: float64)

In [17]:
# Calculate the total number of flights for each airline
num_flights_by_airline = summer_flights['AIRLINE'].value_counts()
print("Total number of flights by airline in the summer:")
print(num_flights_by_airline)

Total number of flights by airline in the summer:
Series([], Name: AIRLINE, dtype: int64)

In [18]:
# Calculate the percentage of delayed flights for each airline
delayed_flights_by_airline = summer_flights[summer_flights['DEPARTURE_DELAY'] > 0]['AIRLINE'].value_counts() / num_flights_by_airline
print("Percentage of delayed flights by airline in the summer:")
print(delayed_flights_by_airline)

Percentage of delayed flights by airline in the summer:
Series([], Name: AIRLINE, dtype: float64)