# Properties of summer-months flights
NOTE - this notebook excuted on slightly different flights dataset (not binned, though the original one,  - https://www.kaggle.com/datasets/usdot/flight-delays?select=flights.csv)

In [1]:
from ATENA_PRO.src.ATENA_A_EDA.benchmark.atena.simulation.dataset import DatasetMeta, SchemaName, \
    Dataset, FlightsDatasetName

In [11]:
dataset_meta = DatasetMeta(SchemaName.FLIGHTS, FlightsDatasetName.DATASET5) # in this notebook the dataset was replaced to the original flights dataset (not binned)
dataset = Dataset(dataset_meta)
dataset_df = dataset.load_data()

dataset_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
65,2015,1,1,4,NK,103,N616NK,BOS,MYR,510,...,720.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
71,2015,1,1,4,AA,2454,N3ETAA,BOS,MIA,515,...,845.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
104,2015,1,1,4,B6,727,N292JB,BOS,BWI,540,...,700.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
108,2015,1,1,4,DL,2079,N389DA,BOS,DTW,540,...,742.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
121,2015,1,1,4,B6,721,N623JB,BOS,PBI,545,...,901.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

### Queries

In [12]:
# Filter for flights in the summer (June, July, August)
summer_flights = dataset_df[dataset_df['MONTH'].isin([6, 7, 8])]
summer_flights

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
2385688,2015,6,1,1,AA,1057,N3CEAA,BOS,DFW,500,...,759.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2385693,2015,6,1,1,AA,1500,N3LHAA,BOS,ORD,500,...,652.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2385706,2015,6,1,1,US,1852,N724UW,BOS,CLT,500,...,703.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2385736,2015,6,1,1,AA,2454,N5CHAA,BOS,MIA,515,...,830.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2385750,2015,6,1,1,NK,103,N633NK,BOS,MYR,515,...,953.0,151.0,0,0,NaN,0.0,0.0,0.0,151.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3919792,2015,8,31,1,AA,2134,N770UW,BOS,DCA,2100,...,2220.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3919829,2015,8,31,1,B6,783,N324JB,BOS,RDU,2101,...,2248.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3920086,2015,8,31,1,NK,109,N521NK,BOS,DTW,2135,...,2342.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3920099,2015,8,31,1,WN,777,N441WN,BOS,BWI,2140,...,2257.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3920755,2015,8,31,1,B6,261,N646JB,BOS,SJU,2359,...,347.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Calculate average departure delay for each airline
avg_delay_by_airline = summer_flights.groupby('AIRLINE')['DEPARTURE_DELAY'].mean()
print("Average departure delay by airline in the summer:")
print(avg_delay_by_airline)

Average departure delay by airline in the summer:
AIRLINE
AA     5.501560
AS     2.644880
B6    10.464491
DL    11.612728
EV     9.484536
NK    18.601942
OO     9.578125
UA    19.788725
US     4.755291
VX     8.446996
WN    14.886768
Name: DEPARTURE_DELAY, dtype: float64

In [14]:
# Calculate the total number of flights for each airline
num_flights_by_airline = summer_flights['AIRLINE'].value_counts()
print("Total number of flights by airline in the summer:")
print(num_flights_by_airline)

Total number of flights by airline in the summer:
B6    10983
AA     6183
DL     4067
UA     3624
WN     3181
US     1552
NK      736
EV      689
VX      569
AS      460
OO       64
Name: AIRLINE, dtype: int64

In [15]:
# Calculate the percentage of delayed flights for each airline
delayed_flights_by_airline = summer_flights[summer_flights['DEPARTURE_DELAY'] > 0]['AIRLINE'].value_counts() / num_flights_by_airline
print("Percentage of delayed flights by airline in the summer:")
print(delayed_flights_by_airline)

Percentage of delayed flights by airline in the summer:
AA    0.273168
AS    0.284783
B6    0.377857
DL    0.386280
EV    0.298984
NK    0.455163
OO    0.359375
UA    0.636865
US    0.233247
VX    0.409490
WN    0.474065
Name: AIRLINE, dtype: float64